<form ng-submit="addTask()" class="" style="margin-bottom: 30px;">
  <h3>Add a new task</h3>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Description" ng-model="description"></input>
  </div>

  <button type="submit" class="btn btn-primary">Add</button>
</form>

<div ui-sortable ng-model="tasks" class="">
  <div class="list-group well" ng-repeat="task in tasks">
    <!-- <div class="list-group-separator"></div> -->
    <div class="list-group-item">
      <div class="row-action-primary checkbox" style="margin-top: 25px;">
        <label>
          <input type="checkbox" ng-checked="task.complete" ng-click="toggleComplete(task)">
        </label>
      </div>
      <div class="row-content">
          <a class="btn btn-xs pull-right" style="margin-top: 17px;" ng-click="deleteTask(task, $index)">
            <i class="mdi-action-delete"></i>
          </a>
          <a style="color: #009688" href="#/tasks/{{task._id}}" ng-class="{strike: task.complete}" class="list-group-item-heading">
            <h3>{{task.title}}</h3>
          </a>
          <p class="list-group-item-text" style="margin-bottom: 20px;" ng-class="{strike: task.complete}">
            {{task.description}}
          </p>

          <div class="btn-group btn-group-justified" ui-sref="home.subtasks({id: task._id})" ng-hide="task.complete" ng-click="toggleSubtasks(task)" class="btn btn-xs pull-right">
            <a href="javascript:void(0)" class="btn btn-default">{{task.subtasks.length}} Subtasks</a>
            <p class="pull-right" style="margin-right: 16px; margin-top: 15px;">
              <i ng-hide="task.viewSubtasks" class="mdi-hardware-keyboard-arrow-right"></i>
              <i ng-hide="!task.viewSubtasks" class="mdi-hardware-keyboard-arrow-down"></i>
            </p>
          </div>

          <hr />
          <div ng-if="( $state.is('home.subtasks', {id: task._id}) && (!task.complete) && task.viewSubtasks)" ui-view></div>
      </div>
    </div>
  </div>
</div>
